{% extends 'layout.html' %}
{% import 'nav.html' as nav %}

{% block title %}关于我们{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/sidebar.css" />
<link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block content %}
{{ nav.show('about') }}
<div class="container-fluid">
    <div class="row">
        <div id="maze">
            <h1>code maze</h1>
        </div>

        <div class="team">
            <p> <b> 团队！</b>团中有才，队中有人，团队本是人才的聚集地。就像我们团队code maze一样：学识渊博，待人宽厚的“队长”李粤强；坚忍乐观，努力上进的“小俊子”胡俊；聪明腼腆，温柔善良的“二大爷”蒋苏；静如处子，动若脱兔的“吉祥物”赵旭；当然，还有我。我们以“团结奋进，积极乐观”的心态去面对未来的挑战。并给我们自己制定了8大原则：<br />
                1) 自己在团队中是举足轻重，无法取代的；<br />
                2）经常主动和别人进行 code review；<br />
                3）不要盲目拷贝代码；<br />
                4）公共库的修改一定要谨慎，谨慎！测试再测试！！<br />
                5）提交代码务必填写备注；<br />
                6）理顺思维，切勿盲目编码；<br />
                7）及时记录工作日志；<br />
                8）每日汇报自己工作情况！<br /></p>
                <p>说到我们的团队的名字，就像我们团队的吉祥物赵旭说的：代码就像迷宫一样让我忍不住去探索，去发掘，并乐在其中！让我们感同身受，于是就有了code maze的形成。</p>
                <p><span>Team!</span> Group talented people in the team, the team is gathering talents. As our team code maze: to be knowledgeable,Clement "Captain" Li Yueqiang; enduring optimism, hard "small Jun Zi" Hu Jun; clever shy, gentle and kind-hearted "Uncle two"Jiang Su;        
                    quiet as a pussy, If moving from rabbits "mascot" Zhao Xu; of course, I have. We have to  "United forward, positive and optimistic" attitude to face
                    Challenges for the future, and to develop our own 8 principles:<br />
                    1) their own in the team is important, can not be replaced;<br />
                    2) often take the initiative and others to carry out review code;<br />
                    3) do not blindly copy the code;<br />
                    4) changes in the public library must be cautious, cautious!!<br />
                    5) submit code must fill in the notes;<br />
                    6) to straighten out the thinking, do not blindly coding;<br />
                    7) record the work log in time;<br />
                    8) daily report on their work!<br /></p><p>
                    When it comes to the name of our team, like our team's mascot, Zhao Xu said: the code is like a maze, so I can't help but explore, go
                    To explore, and let us feel happiness within!, so there is the formation of code maze.</p>
        </div>
    </div>
    <div id="sidebar">
        <ul class="sidebar">
            <li>
                <p></p>
                <div>
                    <ul>
                        <li><b>姓名：</b><span>李粤强</span></li>
                        <li><b>年龄：</b><span>25</span></li>
                        <li><b>籍贯：</b><span>广东</span></li>
                        <li><b>爱好：</b><span>写代码</span></li>
                        <li><b>负则板块：</b><span>需求分析、技术选型、后台搭建</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <p></p>
                <div>
                    <ul>
                        <li><b>姓名：</b><span>林凡</span></li>
                        <li><b>年龄：</b><span>25</span></li>
                        <li><b>籍贯：</b><span>湖北荆州</span></li>
                        <li><b>爱好：</b><span>玩游戏、睡觉</span></li>
                        <li><b>负则板块：</b><span>首页、导航栏插件</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <p></p>
                <div>
                    <ul>
                        <li><b>姓名：</b><span>蒋苏</span></li>
                        <li><b>年龄：</b><span>22</span></li>
                        <li><b>籍贯：</b><span>湖北咸宁</span></li>
                        <li><b>爱好：</b><span>睡觉、吃好吃的、玩游戏</span></li>
                        <li><b>负则板块：</b><span>管理页、侧边栏、回到顶部插件、分页插件</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <p></p>
                <div>
                    <ul>
                        <li><b>姓名：</b><span>胡俊</span></li>
                        <li><b>年龄：</b><span>25</span></li>
                        <li><b>籍贯：</b><span>湖南常德</span></li>
                        <li><b>爱好：</b><span>写代码、吃槟榔、玩游戏、睡觉</span></li>
                        <li><b>负则板块：</b><span>注册页、登陆页</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <p></p>
                <div>
                    <ul>
                        <li><b>姓名：</b><span>赵旭</span></li>
                        <li><b>年龄：</b><span>22</span></li>
                        <li><b>籍贯：</b><span>湖北随州</span></li>
                        <li><b>爱好：</b><span>吃+睡+上知乎</span></li>
                        <li><b>负则板块：</b><span>文章阅读页面、关于页面</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div> 
</div>



{% endblock %}

{% block script %}
<script src="/static/js/sidebar.js"></script>
{% endblock %}