{% extends 'layout.html' %}

{% block title %}管理页面{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/admin.css" />
{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li class="active"><a href="#">users</a></li>
  <li ><a href="#">blogs</a></li>
</ol>
<div class="table-responsive">

</div>
<nav id="pagination" class="text-center">
</nav>
{% endblock %}

{%block script %}
<script src="/static/js/common.js"></script>
<script src="/static/js/admin.js"></script>
{% endblock %}