{% extends 'layout.html' %}
{% import 'nav.html' as nav %}

{% block title %}文章页{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/lib/dracula.min.css" />
<link rel="stylesheet" href="/static/css/common.css" />
<link rel="stylesheet" href="/static/css/blog.css" />
{% endblock %}

{% block content %} 
{{ nav.show('index') }}
<div class="container">
    <div class="row">
        <div class="article col-xs-12 col-md-8 col-md-offset-2">

        </div>
    </div>
</div>

 <!--        <div id="review">
            <div id="lee">
               <p>184条评论</p>
               <span class="abc">添加新评论</span>  
            </div> 
            <div class="media">
                <a class="media-left" href="#">
                <img src="../static/img/kiss.jpeg" ale="..."></a>
                <div class="media-body">
                    <h4 class="media-heading"><a>兔纸</a>2016.12.11</h4>
                    <a class="reply">回复</a>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut 
                    </div>
                </div>
            </div> 
             <div class="media">
                <a class="media-left" href="#">
                <img src="../static/img/kiss.jpeg" ale="..."></a>
                <div class="media-body">
                    <h4 class="media-heading"><a>兔纸</a>2016.12.11</h4>
                    <a class="reply">回复</a>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut 
                    </div>
                </div>
            </div>  
        </div> -->

{% endblock %}

{% block script %}
<script src="/static/js/lib/showdown.min.js"></script>
<script src="/static/js/lib/highlight.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/blog.js"></script>
{{ nav.animate() }}
{% endblock %}