{% extends 'layout.html' %}
{% import 'nav.html' as nav %}

{% block title %}首页{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/lib/dracula.min.css" />
<link rel="stylesheet" href="/static/css/common.css" />
<link rel="stylesheet" href="/static/css/index.css" />
<link rel="stylesheet" href="/static/css/BackTop.css" />
{% endblock %}

{% block content %}
{{ nav.show('index') }}
<div id='main' class='container' hidden="hidden">
    <header class="clearfix">
        <h1>Responsive Timeline</h1>
    </header>
    <div class="main">
        <ul class="tmtimeline">

        </ul>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="/static/js/lib/showdown.min.js"></script>
<script src="/static/js/lib/highlight.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/backTop.js"></script>
<script>
    $.BackTop();
</script>
<script>
$(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
      });
});
</script>
{% endblock %}
