{% extends 'layout.html' %}
{% import 'nav.html' as nav %}

{% block title %}首页{% endblock %}

{% block content %}

{{ nav.show() }}
<div style="height:2000px; width:100px;">
    
</div>
{% endblock %}


{% block script %}
<script>
+function () {
    let beforeTop = $(document).scrollTop();
    $(document).scroll(function(e) {
        let $navbar = $('.navbar.navbar-default');
        if (parseInt($navbar.css('top')) % 50 !== 0) {
            return ;
        }
        if ($(document).scrollTop() - beforeTop > 0) {
           $navbar.stop(true).animate({top: -50});
        } else {
            $navbar.stop(true).animate({top: 0});   
        }
        beforeTop = $(document).scrollTop();
    });
}();
    
</script>
{% endblock %}