{% extends 'layout.html' %}
{% import 'nav.html' as nav %}

{% block title %}首页{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/lib/dracula.min.css">
<link rel="stylesheet" href="/static/css/common.css" />
<link rel="stylesheet" href="/static/css/index.css" />
<link rel="stylesheet" href="/static/css/BackTop.css" />
{% endblock %}

{% block content %}
{{ nav.show('index') }}
<div id='main' class='container'>
</div>
<div id='footer' class="text-center">
    <a href="">About Us</a>
    <a href="">Contact Us</a>
    <a href="">Maze Introduction</a>
    <a href="">Suggestion Feedback</a>
    <p>粤ICP备16049607号-1 © 2016 mblog</p>
    <a href="">maze.qiangtaoli.com</a><span> All rights reserved</span>
</div>
{% endblock %}


{% block script %}
<script src="/static/js/lib/showdown.min.js"></script>
<script src="/static/js/lib/highlight.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/backTop.js"></script>
<script>$.BackTop();</script>
{{ nav.animate() }}
{% endblock %}