<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/lib/normalize.css" />
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/css/common.css" />
        {% block style %}{% endblock %}
    </head>
    <body>
    {% block content %}{% endblock %}

    <div id='footer' class="text-center">
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Maze Introduction</a>
        <a href="#">Suggestion Feedback</a>
        <p>粤ICP备16049607号-1 © 2016 wblog</p>
        <a href="//maze.qiangtaoli.com/">maze.qiangtaoli.com</a><span> All rights reserved</span>
    </div>
    <script src="/static/js/lib/jquery-1.11.3.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/common.js"></script>
    {% block script %}{% endblock %}
    </body>
</html>