{% extends 'layout.html' %}

{% block title %}欢迎登陆{% endblock %}

{% block sytle %}
<link rel="stylesheet" href="/static/css/signin.css" />
{% endblock %}

{% block content %}

<div id="login">
    <form action="/authenticate" method="POST" accept-charset="utf-8">
        <h2>WELCOME!</h2>
        <input type="text" name="name" placeholder="用户名" class="login_box">
        <input type="password" name="password" placeholder="密码" class="login_box">
        <button type="submit" class="login_sub">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
    </form>
</div>

{% endblock %}
