/* 
* @Author: anchen
* @Date:   2016-12-06 19:49:31
* @Last Modified by:   anchen
* @Last Modified time: 2016-12-08 20:58:52
*/
.nav{
    width:75%;
    height:40px;
    background-color: #fff;
    margin:0 auto;
}
.nav ul{
    padding:0;
    list-style: none;
}
.fint{
    float:left;
    width:33.3%;
    height:37px;
    padding-bottom: 1px;
    border-top:1px solid #C6C6C7;
    border-bottom:1px solid #C6C6C7;
}
.out{
    padding-bottom: 0px;
    color:#bbb;
    border-bottom: 2px solid #e4393c;
}
.nav>ul>li a{
    display:block;
    color:#000;
    line-height: 37px;
    text-decoration: none;
    text-align: center;

}
.nav>ul>li a:hover{
    color:#ea393c;
}
.tabclass{
    width:75%;
    background-color: #fff;
    margin:0 auto;
}
.tabclass tr{
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    text-align: center;
}
.tabclass th{
    width:33.3%;
}
