body{
    background-image: url(/static/img/bg1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.table-striped>tbody>tr:nth-child(even){
    background-color:#DBF0FC;
}
.table-striped>tbody>tr:nth-child(odd){
    background-color:#fff;
}
.table-striped{
    text-align:center;
}
.table-striped th{
    text-align:center;
}
#main ol.breadcrumb{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 20px;
}

