#backTop {
    position:fixed;
    bottom: 3%;
    right: 3%;
	width:95px;
	height:145px;
	background:url(../img/backtotop.png) no-repeat;
	background-position:0 0;	
    cursor:pointer;
    display:none;
}

#backTop:hover {
    background-position: 0 -165px;
}