/* 
* @Author: anchen
* @Date:   2016-12-16 08:50:01
* @Last Modified by:   anchen
* @Last Modified time: 2016-12-16 11:59:49
*/
body{
    background: url(/static/img/bg2.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

form {
    padding-top: 50px;
}