@charset "utf-8";
.box{ 
    margin:30px 0;
    padding:15px; 
    overflow:hidden;
}
#box_size{
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color:#aaa;
    width:880px;
    overflow:hidden;
    display:inline-block;
}

.box img{
    margin-left:20px;
}

  #footer{
            
            width:100%;
            min-height:100px;
            text-align: center;
            background:#eee;
            font-family: Arial;
            font-size:12px;
            padding:10px;
            color:#aaa;

    }
#footer>a{
    margin:5px 10px;
    text-decoration: none;
    color:#440;
 }
 #footer p{
    margin:10px;
    padding:0;
 }