body{
    background: url(/static/img/bg1.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
#main.container{
    width:30%;
    background-color: #eee;
    opacity:.8;
    color:#000;
    border-radius: 5px;
    text-align: center;
    min-height: calc(85vh - 130px);
    margin-bottom: 80px;
}
.form-group{
    position: relative;
    padding: 0 10px;
        
}
.text-center{
    margin-top:30px;
    font-family: 'Microsoft Yahei';
}
.form-group > .help-block{
    position:absolute;
    top:2px;
    left:15px;
    z-index: -100;
    transition:all 0.5s linear;
}
.form-group > .form-control{
    border: 0;
    border-bottom: 1px solid;
    opacity: .5;
    position: relative;
    margin-top: 40px;
}
.btn{
    border-radius: 5px;
    width:75%;
    margin:10px auto;
}
